<div class="row">
	  <div class="col-md-7">
        <img src="/maps.jpg" width="100%" height="315">
      </div>

      <div class="col-md-5">
          <h4><strong>Event Information</strong></h4>
        </br>
    <ul class="list-group">
    <li class="list-group-item">Title: {{post.title}}</li>
    <li class="list-group-item">Address: {{post.address}}</li>
    <li class="list-group-item">Summary: {{post.summary}}</li>
    <li class="list-group-item">Date: {{post.month}}, {{post.day}}</li>
    <li class="list-group-item">Time: {{post.time}}</li>
  </ul>
      </div>
    </div>
  </div>
</section>




<!--
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead">{{post.title}}</a>
    <p>Summary: {{post.summary}}</p>
    <p>Submitted By: {{post.author.username}}</p>

  </div>

  <div class="col-sm-6 col-sm-offset-3">
  <form method="POST" action="/posts/{{post._id}}/comments">
    <label for="comment-content"> Comment </label>
    <textarea name="content" id="comment-content" class='form-control' placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit">Comment</button>
    </div>
  </form>
  <div>
    <p>Comments:</p>
    {{#each post.comments}}
      <li class="list-group-item">
        <a href="/comments/{{this._id}}/new">Comment</a>
        <p>{{this.content}}</p>
        {{#if this.comments}}
          {{> comments}}
        {{/if}}
      </li>
    {{/each}}
  </div>
-->
</div>
